h1
{
	background-color: white;
	color: red; 
	text-align: left;
	border: 3px green solid;
	border-radius: 20px / 10px;
	box-shadow: 3px 3px 3px black;
	text-shadow: 3px 3px 3px black;
}
h2
{
	color: red;
	text-align: center;
	text-decoration: underline;
}
.introduction
{
	color: green;
	
}
p
{
	font-style: italic;
	text-align: center;
	width: 350px;
	border: 1px solid;
	text-align:justify  ;
	padding: 12px;

	margin: auto ;

}
body
{
	background-color: ;
	background-image: url("paysage.png")  ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a:hover
{
    color:green;
}
.zoom 
{
width: 320px;
height: 240px;
display: block;
margin-left: auto;
margin-right: auto;
}
.image {
width: 50%;
height: 40%;
display: block;
margin-left: auto;
margin-right: auto;

}
.image img {
/* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
-webkit-transition: all 1s ease; /* Safari et Chrome */
-moz-transition: all 1s ease; /* Firefox */
-ms-transition: all 1s ease; /* Internet Explorer 9 */
-o-transition: all 1s ease; /* Opera */
transition: all 1s ease;
}
.image:hover img:active {
    transform: scale(1.2);
/* L'image est grossie de 25% */
-webkit-transform:scale(2.25); /* Safari et Chrome */
-moz-transform:scale(2.50); /* Firefox */
-ms-transform:scale(2.25); /* Internet Explorer 9 */
-o-transform:scale(2.25); /* Opera */
transform:scale(2.25);
  }

img:active
{
   transform: scale(1.2);
}

.suivant, .precedent {
    color: black;
    font-size: 6rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.suivant {
    right: 1rem;
}

.precedent {
    left: 1rem;
}



	
	


	
	

